:root {
    position: relative;
}

html {
    /* height: 100vh; */
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
}

.button {
    background-color: white;
    border: 2px solid black;
    padding: 1.5% 2% 1.5% 2%;
    display: inline-block;
    cursor: pointer;
}

.button p {
    text-align: center;
}

.button:active {
    background-color: black;
}

/* header */

.container-header {
    display: flex;
    margin: 1%;
}

.container-header .menu {
    flex: 1;
}

.container-header .title {
    flex: 8;
    text-align: center;
}

.container-header .title h3 {
    margin: 0 0;
}

.container-header .cart-icon {
    flex: 1;
}

.container-header .cart-icon .material-icons {
    float: right;
}

.container-header .cart-icon .material-icons:hover {
    cursor: pointer;
}

.container-header div a {
    text-decoration: none !important;
    color: black;
}

/* --------------- */

/* home tabs */

.container-tabs {
    display: flex;
    justify-content: center;
}

.container-tabs div {
    margin: 0 1% 0 3%;
}

.container-tabs div p {
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.container-tabs div p:hover {
    cursor: pointer;
    border-bottom: 2px solid #000000;
}

/* -------------- */

/* home view */

.men-outerwear-img {
    background-image: url("../assets/home/mens_outerwear.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    margin: 1% 3% 0 3%;
}

.men-outerwear-text {
    text-align: center;
    margin: 5% 0 5% 0;
}

.men-outerwear-text div {
    margin: 2% 0 0 0;
}

.ladies-outerwear-text {
    text-align: center;
    margin: 5% 0 5% 0;
}

.ladies-outerwear-text div {
    margin: 2% 0 0 0;
}

.ladies-outerwear-img {
    background-image: url("../assets/home/ladies_outerwear.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    margin: 1% 3% 0 3%;
}

.men-ladies-tshirts {
    display: flex;
    margin: 1% 3% 0 3%;
}

.men-ladies-tshirts .men-tshirts {
    flex: 1;
    background-image: url("../assets/home/mens_tshirts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
}

.men-ladies-tshirts .ladies-tshirts {
    flex: 1;
    background-image: url("../assets/home/ladies_tshirts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
}

.men-ladies-text {
    margin: 2% 0 0 0;
    display: flex;
    justify-content: space-around;
}

.men-ladies-text div {
    /* width: 100px; */
    text-align: center;
    /* position: relative; */
}

.men-ladies-button {
    margin: 2% 0 5% 0;
    display: flex;
    justify-content: space-around;
}

.men-ladies-button div {
    /* width: 100px; */
    text-align: center;
    /* position: relative; */
}

/* -------------------- */

/* footer */

.footer {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-top: 20px;
    line-height: 24px;
}

.footer div {
    display: inline-block;
    background: black;
    color: white;
    padding: 0 2% 0 2%;
}

/* -------------- */

/* item category section */

.item-category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10rem 1fr 1fr;
    grid-template-areas: "header header header""content content content""content content content""content content content";
}

.item-category .item-category-header {
    grid-area: header;
    align-self: center;
}

.item-category div {
    text-align: center;
}

.item-category div:hover {
    text-align: center;
    cursor: pointer;
}

.item-category div img {
    max-width: 100%;
}

/* -------------------- */

/* product details section */

.product-details {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.product-details .item img {
    max-width: 100%;
}

.product-details .item-details {
    width: 30rem;
}

.item-details select {
    border: 0;
    padding: 16px 24px 16px 70px;
    background-color: transparent;
    outline: none;
    margin-top: 1%;
    width: 70%;
    height: 3rem;
}

.picker div p {
    display: inline-block;
    width: 10%;
}

.picker div select {
    display: inline-block;
}

.picker div {
    border-top: 1px solid #ccc;
}

.product-details .item-details p {
    font-size: 1rem;
    color: #929697;
}

.product-details .item-details li {
    font-size: 1rem;
    color: #929697;
}

.add-item-desktop-btn {
    display: block;
}

.add-item-mobile-btn {
    display: none;
}

/* -------------------- */

/* checkout layout */

.checkout {
    display: none;
    margin: 0 auto;
    padding: 0 24px 48px 24px;
    max-width: 900px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 1fr;
    grid-template-areas: "header header""content content";
}

.checkout-header {
    grid-area: header;
    align-self: center;
    margin: 10% 30% 5% 30%;
    text-align: center;
}

.checkout-header p {
    font-weight: bold;
}

.checkout-header small {
    color: gray;
}

.checkout .checkout-form-left {
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    /* margin: 10% 5% 5% 30%; */
}

.checkout .checkout-form-left>input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2rem;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
}

.checkout .checkout-form-left>small {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.checkout .checkout-form-left>div {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkout .checkout-form-left>div>input {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
}

.checkout .checkout-form-left>select {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    height: 20px;
}

.checkout .checkout-form-right {
    /* margin: 10% 30% 5% 5%; */
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.checkout .checkout-form-right>div {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.checkout .checkout-form-right>input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
}

.checkout .checkout-form-right>small {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.expiry-date {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.expiry-date input {
    margin: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
}

.expiry-date select {
    border: 0;
    background: transparent;
    border-bottom: 1px solid gray;
}

.order-summary {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.total-amount {
    text-align: end;
}

.order-total {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* ----x-----x----- */

/* cart view */

.cart-view {}

.cart-section {
    margin-top: 120px;
}

.cart-header {
    text-align: center;
}

.your-item {
    font-weight: bold;
    font-size: 1rem;
}

.number-of-items {
    font-size: 0.75rem;
    color: gray;
}

.cart-item-list {
    margin: 0 auto;
    padding: 0 24px 48px 24px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.item-card {
    display: grid;
    grid-template-columns: 2fr 6fr 2rem 2rem 1fr 2rem 1fr 1fr 1fr;
}

.item-card>img {
    width: 72px;
    height: 72px;
}

.item-card>.material-icons {
    align-self: center;
    justify-self: center;
}

.item-card>p, label {
    font-size: 0.9em;
    align-self: center;
}

.item-card>label {
    color: gray;
}

.item-card>select {
    border: 0;
    background: transparent;
}

.item-total {
    justify-content: end;
    display: grid;
    /* align-items: flex-start; */
    grid-template-columns: 3rem 6rem 8rem;
}

.item-total>p {
    align-self: center;
    font-weight: bold;
}

.item-total .checkout-mobile-btn {
    display: none;
}

/* --------------- */

/* mobile */

@media(max-width:790px) {
    .container-tabs {
        display: none;
    }
    .button {
        font-size: 0.5rem;
    }
    /* home view */
    .men-outerwear-img {
        margin: 2% 0 0 0;
    }
    .ladies-outerwear-img {
        margin: 2% 0 0 0;
    }
    /* ------- */
    /* item category */
    .item-category {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header ""content content""content content""content content";
    }
    /* ------------ */
    /* product description */
    .product-details {
        flex-direction: column;
    }
    .product-details .item-details {
        width: 80%;
        margin-left: 8%;
    }
    .add-item-desktop-btn {
        display: none;
        width: 100%;
    }
    .add-item-mobile-btn {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        border: 0;
        background-color: #17335e;
        color: white;
        margin: 0 0 0 0;
        padding: 3% 2% 3% 2%;
        text-align: center;
        cursor: pointer;
    }
    .add-item-mobile-btn:active {
        background-color: black;
    }
    /* ---------- */
    /* cart item card */
    .cart-item-list {
        display: flex;
        flex-direction: column;
    }
    .item-card {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 2rem 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "image name name name name name clear" "image . quantity number size value price";
    }
    .item-card>img {
        grid-area: image;
    }
    .item-card .item-name {
        grid-area: name;
    }
    .item-card .material-icons {
        grid-area: clear;
    }
    .item-card .cart-item-quantity {
        grid-area: quantity;
    }
    .item-card .cart-item-size-value {
        grid-area: value;
    }
    .item-card .cart-item-price {
        grid-area: price;
    }
    .item-card .cart-item-size {
        grid-area: size;
    }
    #quantity-value {
        grid-area: number;
    }
    .item-card>label {
        color: gray;
    }
    .item-card>select {
        border: 0;
        background: transparent;
    }
    .item-total .button {
        display: none;
    }
    .item-total .checkout-mobile-btn {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        border: 0;
        background-color: #17335e;
        color: white;
        margin: 0 0 0 0;
        padding: 3% 2% 3% 2%;
        text-align: center;
        cursor: pointer;
    }
    .item-total .checkout-mobile-btn:active {
        background-color: black;
    }
    .item-total .checkout-mobile-btn:hover {
        cursor: pointer;
    }
    .item-total {
        grid-template-columns: 3rem auto;
    }
    /* ----------- */
    /* checkout view */
    .checkout {
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr 1fr;
        grid-template-areas: "header""content""content";
    }
    .checkout .checkout-form-left {
        margin-top: 50px;
        margin-right: 0;
    }
    .checkout .checkout-form-right {
        margin-left: 0;
        /* margin: 10% 5% 5% 30%; */
    }
    .checkout .checkout-form-right .button {
        position: fixed;
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        border: 0;
        background-color: #17335e;
        color: white;
        margin: 0 0 0 0;
        padding: 3% 2% 3% 2%;
        text-align: center;
        cursor: pointer;
        font-size: 1rem;
    }
    .checkout .checkout-form-right .button:hover {
        cursor: pointer;
    }
    .checkout .checkout-form-right .button:active {
        background-color: black;
    }
    /* ------------- */
    /* footer */
    .footer {
        display: none;
    }
    /* ------- */
}

@media(min-width:790px) {
    .container-header .menu {
        visibility: hidden;
    }
}

/* desktop */

@media(max-width:1360px) {
    .men-outerwear-img {
        margin: 0 0 0 0;
    }
    .ladies-outerwear-img {
        margin: 1% 0 0 0;
    }
    .men-ladies-tshirts {
        display: flex;
        margin: 1% 0 0 0;
    }
}